

/*
--------------------------------------------------------------
 CUSTOM STYLES
 ----------------------------------------------------------------*/

.fill{
  height: 100%;
  min-height: 100%;
  padding:0;
}

.header{
  margin-bottom:0;
  padding-bottom: 0;

}

.welcome{
  text-align: center;
  margin-top: 10%;
}

.welcome #title{
  font-size: 5em;
  font-weight: 200;
}

.btn-attention{
  background: none;
  margin-top:10px;
  border:1px solid white;
  font-size: 1.5em;
}


.btn-attention:hover{
  background: #262A56;
  color: #A4A4A4;

  -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

  -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}


.meter-info{
  margin-bottom: 15px;
}

.menu-visualizer{
  position: absolute;
  bottom:20px;
}

.btn-sidebar-dropmenu{
  background-color: #242424;
  border:1px solid white;
}

.btn-signout{
  position:absolute;
  right:0;
  top: 0;
}

.sidebar ul{
  width: inherit;
  text-align: center;
}

.sidebar-dropdown{
  color: #A4A4A4;
  background:#242424;
}

.sidebar-btn-group{
  position: absolute;
  bottom: 0;
  margin: 40px;
}

svg{
  display:block;
  margin: auto;
}

polygon{
  stroke: black;

  transition: stroke 0.05s linear 0s;
  transition: stroke-width 0.05s ease-in-out 0s;
  transition: fill 0.5s linear 0s;
}

polygon:hover{
  stroke: white;
  stroke-width: 5px;
  fill: #E8C954;

  transition: stroke 0.05s linear 0s;
  transition: stroke-width 0.05s ease-in-out 0s;
  transition: fill 0.05s linear 0s;
}

.radialchart{
  position:fixed;
  bottom:0;
  right:0;
  height:80%;
  width: 100%;
}

.radialchart svg{
  margin:auto;
}


path:hover{
  stroke: white;
}

.heatmap{
  overflow:hidden;
  width:100%;
}

.heatmap svg{
  float:left;
  height: 10%;
}

.bubble{
  fill: steelblue;
  fill-opacity: 0.1;
}

/*
--------------------------------------------------------
SIDEBAR
--------------------------------------------------------
*/

.sidebar{
  margin:0;
  position: absolute;
  height: 100%;
  z-index: 2;

  -webkit-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
  box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
}

.sidebar-tabs{
  padding-top:20px;
  background:#101010;
  width:60px;
  height: 100%;
}

span.sidebar-tab{
  color:#656565;
  font-size:32px;
}

.btn-tab{
  background: none;
  outline: none;
  position: relative;
}

.btn-tab.active{  background: none;  background: black;}
.btn-tab:hover{  background: black;}
.btn-tab:active{  outline: 0 !important;}
.btn-tab:focus{  outline: 0 !important;}

span.sidebar-tab:hover{
  color:#252525;
}

.sidebar-toggle{
  position:absolute;
  fill: black;
}

.sidebar-component{
  background:#010101;
  left:60px;
  padding: 20px;
  position:absolute;
  width:300px;
  /* btn-block is with small text under it is 71 px in height so we simple offset the settings box with this value */
  margin-top: -71px;

  -webkit-border-radius:0 15px 15px 0;
  -moz-border-radius:0 15px 15px 0;
  border-radius:0 15px 15px 0;

  -webkit-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
  box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.43);
  z-index: -1;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.sidebar-component.ng-hide{
  transform: translateX(-100%);

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}


.sidebar-settings{
  padding:10px;
  margin:0;
  width: 10%;
  background:#252525;
  transition: all ease-in-out 0.5s;
  height: 25%;

}

.sidebar-settings.ng-hide{
  transform: translateY(-100%);
}

.ui-select-container input{
  background:#252525;
  border: 0;

}
.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}

.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

.ui-select-toggle{
  font-weight: 700;
  color: #656565;
  background:#252525;
  border: 0;
  text-overflow: clip;
}


.ui-select-choices-row-inner span{
  font-weight: 700;
  border: 0;
}


/*
--------------------------------------------------------
NAVBAR
--------------------------------------------------------
*/

.navbar{
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #2cc06a;
  border-color: #c4fff5;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #27c48e;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #27c48e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #27c48e;
  background-color: #c4fff5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #27c48e;
  background-color: #c4fff5;
}
.navbar-default .navbar-toggle {
  border-color: #c4fff5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c4fff5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #27c48e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #27c48e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #27c48e;
    background-color: #c4fff5;
  }
}
